@model IEnumerable<WebApplication4.Models.Person>

@{
    ViewBag.Title = "ShowPerson";
}

<h2>Siblings</h2>

<table >
    <tr style="border-style:solid;">
        <th style="border-style: solid; padding-right: 10px;">
            First Name 
        </th>
        <th style="border-style:solid;">
            Last Name
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="border-style:solid;">
            <td style="border-style:solid;">
                @Html.DisplayFor(modelitem => item.firstName)
            </td> 
            <td style="border-style:solid;">
                @Html.DisplayFor(modelitem => item.lastName)
            </td>

        </tr>

    }

</table>
